*.swp
*.swo
vizmo++
pmpl
*.o
Dependencies
build
libvizmo.a
*.map
*.path
*.stat

CMakeCache.txt
CMakeFiles/
Makefile
bin/
cmake_install.cmake
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json


/cmake-build-debug_docker/
/cmake-build-debug_docker_conan/
/cmake-build-debug_docker_vcpkg/
